
<h1 class="text-center">Welcome to the Blog App</h1>
<div class="text-center">
    <a href="/register" class="btn btn-primary">Register</a>
    <a href="/login" class="btn btn-secondary">Login</a>
</div>

